.azul{
	width: 215px;
	height: 215px;
	background-color: #0048FB;
	position: static;

}
.verde{
	width: 106px;
	height: 106px;
	background-color: #387804;
	position: relative;
	left: 53px;
	top: 53px;
}
.negro{
	width: 54px;
	height: 54px;
	background-color: #000000;
	position: absolute;
}